<!-- POC: Please pick the logo that corresponds to your challenge. -->
<img src="https://ego4d-data.org/assets/images/episodic.png" height=80px>
<!-- <img src="https://ego4d-data.org/assets/images/h+o.png" height=80px> -->
<img src="https://ego4d-data.org/assets/images/a-vD.png" height=80px>
<img src="https://ego4d-data.org/assets/images/social.png" height=80px>
<img src="https://ego4d-data.org/assets/images/forecasting.png" height=80px>

<h2> Full name of the challenge </h2>

<h3>Task</h3>
POC: Description of the task

<h3>Data</h3>
<ul>
    <li>Input:</li>
    <li>Output:</li>
</ul>

<h3>Starter code</h3>
<p>
    Please find the code to reproduce our paper baselines and to get started on this challenge <a href="">here</a>.
</p>
<!-- POC: Please don't mention prizes here, we will add that to terms and conditions. -->
