<!-- POC: Please pick the logo that corresponds to your challenge. -->
<img src="https://ego4d-data.org/assets/images/episodic.png" height=80px>
<!-- <img src="https://ego4d-data.org/assets/images/h+o.png" height=80px> -->
<img src="https://ego4d-data.org/assets/images/a-vD.png" height=80px>
<img src="https://ego4d-data.org/assets/images/social.png" height=80px>
<img src="https://ego4d-data.org/assets/images/forecasting.png" height=80px>

<h2> Full name of the challenge </h2>

<h3>Task</h3>
POC: Description of the task

<h3>Data</h3>
<ul>
    <li>Input:</li>
    <li>Output:</li>
</ul>

<h3>Starter code</h3>
<p>
    Please find the code to reproduce our paper baselines and to get started on this challenge <a href="">here</a>.
</p>

<h3>Evaluation and Prizes</h3>
<p>
    Submissions will be ranked as per the evaluation criterion in the Evaluation tab above.
    To be considered for awards, participants must submit a report describing their method, 
    data used for training/evaluating their approach, details of the model architecture, 
    training/testing paradigm as applicable, and analysis of different aspects of the model.
    The report will be due within a week after the challenge ends and would have to be submitted using the workshop CMT portal.
    Top-3 submissions that outperform the baselines, submit a report and satisfy all terms and conditions will be eligible for the following prizes:
    <ul>
        <li>First prize: $3000</li>
        <li>Second prize: $2000</li>
        <li>Third prize: $1000</li>
    </ul>
</p>
