<!-- challenge hosts, don't modify this! Just rebase on base repo to get this information. -->
<p>    
    NO PURCHASE NECESSARY TO ENTER/WIN. A PURCHASE WILL NOT INCREASE YOUR CHANCES OF WINNING. 
    The Challenge consists of various separate Tracks, with winners determined based upon metrics applicable to each Track. 
    Start and end dates and times for each Track are set forth on the applicable Track website, accessible from <a href="https://ego4d-data.org/">https://ego4d-data.org/</a>. 
    Open to legal residents of the Territory, 18+ & age of majority who are not the target of any trade sanctions administered or enforced by the U.S., EU, United Nations, or UK and are not acting on behalf of entities that are the target of such trade sanctions. 
    "Territory" means any area, country, state, territory, or province where United States or local laws do not prohibit participating or receiving a prize in the Challenge and excludes any country or jurisdiction that is the target of U.S., EU, United Nations, or UK comprehensive trade sanctions (e.g., Crimea, Donetsk, and Luhansk regions of Ukraine, Cuba, North Korea, Iran, and Syria, as such list may be amended). 
    Any participant use of External Data must be pursuant to a valid license. 
    Void outside the Territory and where prohibited by law. 
    Participation subject to the official <a href="https://ego4d-interactive-fig1.s3.eu-west-2.amazonaws.com/tc.pdf">Competition Rules</a>. 
    See Official Rules and Track websites accessible via <a href="https://ego4d-data.org/">https://ego4d-data.org/</a> for submission requirements, evaluation metrics, prize details and full details. 
    Sponsor: Meta Platforms, Inc., 1 Hacker Way, Menlo Park, CA 94025 USA.
</p>
